<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'card/main.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Главная страница </title>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="margin-left: 20%; margin-right: 20%">
    <a type="button" class="btn btn-outline-danger center"  href="/">Главная</a>
    <a type="button" class="btn btn-outline-danger center"  href="/calendar">Календарь</a>
    <a type="button" class="btn btn-outline-danger center"  href="/gallery">Галерея</a>
    <a type="button" class="btn btn-outline-danger center"  href="/about-us">О нас</a>
</nav>
<div class="card border-light mb-3 center" style="max-width: 70%;">
  <div class="card-body">
    <h2 class="display-6">Мы - клуб болельщиков ССК ИОМ "Гермес"! Мы вдохновляем студентов и помогаем им
    организованно и воодушевлённо болеть за наших спортсменов на всех матчах и мероприятиях. 🥰
    Наша главная цель - сделать так, чтобы каждый болельщик "Гермеса" видел и чувствовал тепло
    и поддержку с трибун, а также знал, что его однокурсники и друзья искренне болеют и переживают
    за него! Главный смысл нашего движения заключён в фразе "Поддержи своих". Это простая, но в то
    же время очень нужная фраза, осознав которую, можно понять, что "свои" - это не только наши
    прекрасные спортсмены, которым нужна поддержка на матчах. "Свои" повсюду: это и одногруппники,
    и ребята с других факультетов, и просто ученики ИОМа! ❤️ Всех нужно и важно поддерживать,
    дарить друг другу эмоции и переживать вместе трудности, ведь наша главная сила - в единстве,
    и эту силу мы и дарим тем, кто играет за "Гермес" ✊</h2>
    </div>
</div>
<div class="card" style="width: 50%;
margin-left: auto;margin-right: auto;
        margin-top: 3%;
        outline-color: black;
        outline-style: double;
        outline-width: 3px;">
        <img class="card-img-top" src="{% static 'card/1.png'%}" alt="Card image cap">
        <div class="card-body">
            <h4>Елизавета Смигельская</h4>
            <h5>Глава ССК ИОМ «Гермес»</h5>
            <a href="https://vk.com/lizsmig" style="color: red"><i class="fa fa-vk"></i>@lizsmig</a>
        </div>
</div>
<div class="card" style="width: 50%;
margin-left: auto;margin-right: auto;
        margin-top: 5%;
        outline-color: black;
        outline-style: double;
        outline-width: 3px;">
            <img class="card-img-top" src="{% static 'card/2.png'%}" alt="Card image cap">
            <div class="card-body">
        <h4>Марат Халфин</h4>
        <h5>Заместитель Главы ССК ИОМ «Гермес»</h5>
        <a href="https://vk.com/mkhalfin1" style="color: red"><i class="fa fa-vk"></i>@mkhalfin1</a>
    </div>
</div>
<div class="card" style="width: 50%;
margin-left: auto;margin-right: auto;
margin-top: 5%;
outline-color: black;
outline-style: double;
outline-width: 3px;">
    <img class="card-img-top" src="{% static 'card/3.png'%}" alt="Card image cap">
    <div class="card-body">
        <h4>Алина Гришачкина</h4>
        <h5>Глава Медиа ССК ИОМ «Гермес»</h5>
        <a href="https://vk.com/alishaaaa17" style="color: red"><i class="fa fa-vk"></i>@alishaaaa17</a>
    </div>
</div>
</body>
</html>
