<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'card/main.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">

    <title>Главная страница </title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="margin-left: 20%; margin-right: 20%">
    <a type="button" class="btn btn-outline-danger center"  href="/">Главная</a>
    <a type="button" class="btn btn-outline-danger center"  href="/calendar">Календарь</a>
    <a type="button" class="btn btn-outline-danger center"  href="/gallery">Галерея</a>
    <a type="button" class="btn btn-outline-danger center"  href="/about-us">О нас</a>
</nav>

<div style="text-align: center"><h1 class="display-1 center">Ближайшие мероприятия</h1></div>
<p></p>
<p></p>
<p></p>
<!--02.11 18:40 Турнир по шахматам ИОМ/ИФУР-->
<!--05.11 15:00 Футбол ИОМ/ИБДА-->
<!--07.11 17:15 Баскетбол ИОМ/ЭМИТ-->
<!--10.11 19:30 Волейбол ИОМ/ИФУР-->
<!--12.11 16:20 Теннис ИОМ/ФФБ-->

<table class="center" style="width: 40%; text-align: center; border: 2px solid red">
    <tr style=" border: 2px solid red">
        <td><p><h1><span style="color: red;font-weight: 700">02.11</span></h1></p>
            <p><h1><span style="color: red;font-weight: 700">18:40</span></h1></p></td>
        <td><h1 style="font-weight: 700"> Турнир по шахматам </h1></td>
        <td><h1 style="font-weight: 700"><span style="color: red">ИОМ</span>/ИФУР</h1></td>
    </tr>

    <tr style=" border: 2px solid red">
        <td><p><h1><span style="color: red;font-weight: 700">05.11</span></h1></p>
            <p><h1><span style="color: red;font-weight: 700">15:00</span></h1></p></td>
        <td><h1 style="font-weight: 700"> Футбол </h1></td>
        <td><h1 style="font-weight: 700"><span style="color: red">ИОМ</span>/ИБДА</h1></td>
    </tr>

    <tr style=" border: 2px solid red">
        <td><p><h1><span style="color: red;font-weight: 700">07.11</span></h1></p>
            <p><h1><span style="color: red;font-weight: 700">17:15</span></h1></p></td>
        <td><h1 style="font-weight: 700"> Баскетбол </h1></td>
        <td><h1 style="font-weight: 700"><span style="color: red">ИОМ</span>/ЭМИТ</h1></td>
    </tr>

    <tr style=" border: 2px solid red">
        <td><p><h1><span style="color: red;font-weight: 700">10.11</span></h1></p>
            <p><h1><span style="color: red;font-weight: 700">19:30</span></h1></p></td>
        <td><h1 style="font-weight: 700"> Волейбол </h1></td>
        <td><h1 style="font-weight: 700"><span style="color: red">ИОМ</span>/ИФУР</h1></td>
    </tr>

    <tr style=" border: 2px solid red">
        <td><p><h1><span style="color: red;font-weight: 700">12.11</span></h1></p>
            <p><h1><span style="color: red;font-weight: 700">16:20</span></h1></p></td>
        <td><h1 style="font-weight: 700"> Теннис </h1></td>
        <td><h1 style="font-weight: 700"><span style="color: red">ИОМ</span>/ФФБ</h1></td>
    </tr>
</table>
<!--<div class="card center" style="width: 40%; border: 2px solid red">-->
<!--  <ul class="list-group list-group-flush">-->
<!--    <li class="list-group-item"><h2><p style="color: red">02.11 18:40</p>Турнир по шахматам <span style="color: red">ИОМ</span>/ИФУР </h2></li>-->
<!--    <li class="list-group-item"><h2><p style="color: red">05.11 15:00</p>Футбол <span style="color: red">ИОМ</span>/ИБДА </h2></li>-->
<!--    <li class="list-group-item"><h2><p style="color: red">07.11 17:15</p>Баскетбол <span style="color: red">ИОМ</span>/ЭМИТ </h2></li>-->
<!--    <li class="list-group-item"><h2><p style="color: red">10.11 19:30</p>Волейбол <span style="color: red">ИОМ</span>/ИФУР </h2></li>-->
<!--    <li class="list-group-item"><h2><p style="color: red">12.11 16:20</p>Теннис <span style="color: red">ИОМ</span>/ФФБ </h2></li>-->

<!--  </ul>-->
<!--</div>-->
</body>
</html>
